root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[*.{ts,tsx,js,jsx,mjs,cjs,json,yml,yaml,md,sh}]
indent_size = 2

[*.ps1]
end_of_line = crlf
indent_size = 2

[Makefile]
indent_style = tab

[*.{png,jpg,jpeg,gif,ico,webp,mp4,mp3,wav,zip,db}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
